<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Trees!</title>
</head>
<body>
    <h1>Sehr geehrter Herr Baur, ich habe dieses Projekt in Kuerze erstellt um mein Koennen zu veranschaulichen!
    Ich hoffe ihnen gefällt mein Projekt!
    </h1>
    <br />
    <br />
    <a href="/listTrees">Klicke um zur Baumliste mit MySQL Anbindung zu gelangen!</a>
    <br />
    <a href="https://github.com/NiklasCODES?tab=repositories">Klicken sie hier um auf meine GitHub Seite zu gelangen um dieses Projekt herunterzuladen!</a>
</body>
</html>